.settings/
.project
.classpath
test-output/**
.springBeans
*/target/**
.rar
.zip
/target/
.metadata/
*.log
*.diff
/bin/

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
